<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWordCounterService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/WordCounterService/WordCounterService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWordCounterService"
                contract="ServiceWordCounter.IWordCounterService" name="WSHttpBinding_IWordCounterService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<connectionStrings><add name="WordDatabaseEntities" connectionString="metadata=res://*/DataAccess.WordModel.csdl|res://*/DataAccess.WordModel.ssdl|res://*/DataAccess.WordModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PDPMIP1\MSSQLSERVER01;initial catalog=WordDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>